<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR bot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        #recording-status {
            color: red;
            display: none;
        }
    </style>
</head>
<body>
    <h1>HR bot</h1>
    <p>
        <img src="/static/face.gif">
    </p>
    <p>
    <button id="start-btn">Запустить запись</button>
    <button id="stop-btn" disabled>Остановить запись</button>
    <div id="recording-status"></div>
    </p>
    <audio controls autoplay></audio>

    <script src="/static/app.js"></script>
</body>
</html>